*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  :root{
    --primary-color:#FFF;
    --secondary-color:#111;
    --border-bottom-color:#FAF0E6;
    --background-color: #f1eeea;
  }
  .dark-theme{
    --primary-color:#111;
    --secondary-color:#FFF;
    --border-bottom-color: #2e2d2b;
    --background-color: #1b1b1b;
  
  }
  html::-webkit-scrollbar{
    width: 6px;
  }
  
  html::-webkit-scrollbar-track{
    background: transparent;
  }
  
  html::-webkit-scrollbar-thumb{
    background: var(--secondary-color);
    border-radius: 50px;
  }
  
  /*Header */
  .header {
      width: 100%;
      background: var(--primary-color);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 120px; 
      position: fixed;
      border-bottom: 1px solid var(--border-bottom-color);
      top:0; left: 0; right: 0;
      z-index: 1000;
    }
    
    .time-container{
      position: absolute;
      top:10;
      left:0;
    }
    h1{
      color: #EE1C47;
      font-size: 20px;
    }
    
    .header .logo img {
      height: 60px;
    }
    
    .header .navbar a {
      margin: 0 10px;
      font-size: 20px;
      color: var(--secondary-color);;
      text-transform: capitalize;
    }
    
    .header .navbar a:hover {
      color: #ee1c47;
      border-bottom: 1px solid #ee1c47;
      padding-bottom: 5px;
    }
    #nav-contact{
      color: #ee1c47;
      border-bottom: 1px solid #ee1c47;
      padding-bottom: 5px;
    }
    
    .header .icons {
      display: flex;
      color: var(--secondary-color);;
      cursor: pointer;
      font-size: 25px; 
    }
    .header .icons div{
        margin-right: 20px;
        font-size: 25px;
        font-weight: 400;
        transition: all .42s ease; 
    }

    #cart-btn{
      position: relative;
      padding: 0px 10px;
  
  }
  .quantity{
      position: absolute;
      bottom: 100;
      right: 0;
      background: #EE1C47;
      color: var(--primary-color);
      border-radius: 50%;
      padding: 0px 5px;
      font-size: 15px;
  }

    #icon{
      width: 30px;
      cursor: pointer;
    }
    
    .header .icons div:hover {
      color: #ee1c47;
    }
    
    #menu-btn {
      display: none;
    }
    
    .header .search-form {
      position: absolute;
      top: 115%;
      right: 7%;
      background: var(--primary-color);
      width: 500px;
      height: 50px;
      display: flex;
      align-items: center;
      transform: scaleY(0);
      transition: transform 0.3s ease-in-out;
      transform-origin: top;
    }
    
    .header .search-form.active {
      transform: scaleY(1);
    }
    
    .header .search-form input {
      height: 100%;
      width: 100%;
      font-size: 16px;
      color: var(--secondary-color);
      padding: 10px;
      text-transform: none;
    }
    
    .header .search-form label {
      cursor: pointer;
      font-size: 22px;
      margin-right: 15px;
      color: var(--secondary-color);
    }
    
    .header .search-form label:hover {
      color: #ee1c47;
    }
  
    /*container*/
  
  body{
    background-color: var(--background-color);
  }
  .contact{
      position: relative;
      min-height: 100vh;
      padding: 100px 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .contact .content{
      max-width: 800px;
      text-align: center;
      color:var(--secondary-color);
  }
  .contact .content h2{
      font-size: 36px;
      font-weight: 500;
  }
  .contact .content span{
      color: #EE1C47;
  }
  .contact .content p{
      font-weight: 300;
  }
  .container{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
  }
  .container .contactInfo{
      width: 50%;
      display: flex;
      flex-direction: column;
  }
  .container .contactInfo .box{
      position: relative;
      padding: 20px 0;
      display: flex;
  }
  .container .contactInfo .box .icon{
      min-width: 60px;
      height: 60px;
      background: var(--primary-color);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 22px;
  }
  .container .contactInfo .box .text{
      display: flex;
      margin-left: 20px;
      font-size: 16px;
      color: var(--secondary-color);
      flex-direction: column;
      font-weight: 300;
  }
  .container .contactInfo .box .text h3{
      font-weight: 500;
      color: #EE1C47;
  }
  .contactForm{
      width: 40%;
      padding: 40px;
      background: var(--primary-color);
  }
  .contactForm h2{
      font-size: 30px;
      color: #333;
      font-weight: 500;
  }
  .contactForm .inputBox{
      position: relative;
      width: 100%;
      margin-top: 10px;
      
  }
  .contactForm .inputBox input,
  .contactForm .inputBox textarea{
      width: 100%;
      padding: 5px 0;
      font-size: 16px;
      margin: 10px 0;
      border: none;
      border-bottom: 2px solid var(--secondary-color);
      background-color: var(--primary-color);
      outline: none;
      resize: none;
  }
  .contactForm .inputBox span{
      position: absolute;
      left: 0;
      padding: 5px 0;
      font-size: 16px;
      margin: 10px 0;
      pointer-events: none;
      transition: 0.5s;
      color: #666;
  }
  .contactForm .inputBox input:focus ~ span,
  .contactForm .inputBox input:valid ~ span,
  .contactForm .inputBox textarea:focus ~ span,
  .contactForm .inputBox textarea:valid ~ span{
      color: #e91e63;
      font-size: 12px;
      transform: translateY(-20px);
  }
  .contactForm .inputBox input[type="submit"]{
      width: 100px;
      background: #EE1C47;
      color: var(--primary-color);
      border: none;
      cursor: pointer;
      padding: 10px;
      font-size: 18px;
  }
  
  /*footer*/
  footer{
    position: relative;;
  }
  .contact-footer{
    background-color: var(--primary-color);
    padding: 50px 100px;
  }
  .contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 30px;
  }
  
  .contact-info h4{
    color: var(--secondary-color);
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .contact-info p{
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all .42s;
  }
  .contact-info p:hover{
    color: #EE1C47;
  }
  .contact-info a{
    color: var(--secondary-color);
  }
  .contact-info a:hover{
    color: #EE1C47;
  }
  .up-arrow{
    position:absolute;
    bottom: 70%;
    right: 2%;
    
  }
  .up i{
    font-size: 30px;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    padding: 12px 12px;
  }
  .up i:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  .end-text{
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px;
  }
  .end-text p{
    color: var(--secondary-color);
    text-transform: capitalize;
  }
/*add cart*/
.card{
  position: fixed;
  top:0;
  left: 100%;
  width: 100%;
  max-width: 400px;
  background-color: #453E3B;
  height: 100vh;
  transition: 0.5s;
  z-index: 1000;
  overflow-y: auto;
  }   
  .active .card{
  left: calc(100% - 400px);
  }
  .active .container{
  transform: translateX(-200px);
  }
  .card h1{
  color: #EE1C47;
  font-weight: 100;
  margin: 0;
  padding: 0 10px;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 24px;
  }
  .card .checkOut{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  }
  .card .checkOut div{
  background-color: #EE1C47;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  }
  .card .checkOut div:nth-child(2){   /*ikinci div öğesini hedefler*/
  background-color: #1C1F25;
  color: #fff;
  }
  .listCard li{
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  color: #fff;
  row-gap: 10px;
  font-size: 14px;
  margin: 0;
  padding: 0 10px;
  left: 0;
  
  }
  .listCard li div{
  display: flex;
  justify-content: start ;
  align-items: center;    
  }
  .listCard li img{
  width: 70%;
  margin-right: 10px;
  }
  .listCard li button{
  background-color: #fff5;
  border: none;
  padding: 6px;
  }
  .listCard .count{
  margin: 0 10px;
  }

 /* Responsive-css */
  @media (max-width:984px){
    
    html{
        font-size: 55%;
    }

    .header{
        padding:15px 20px;
    }

    .time-container{
      margin-top: 65px;
      margin-left: 45px;
    }

    /*footer*/
    .contact-info{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

}
  @media(max-width:910px){
    header{
      padding: 20px 3%;
      transition: .4s;
    }

  .contact{
      padding: 100px 50px;
  }
  .container{
      flex-direction: column;
  }
  .container .contactInfo{
      margin-bottom: 40px;
  }
  .container .contactInfo,
  .contactForm    {
      width: 100%;
  }
  }

  @media(max-width:780px){
    
    #menu-btn{
      display: inline-block;
      margin-left: 20px;

  }

  .time-container{
    position: relative;
    margin: 0 20px;
    font-size: 40px;
  }    
  .header .navbar{
      position: absolute;
      top:100%; right: -100%;
      background: var(--primary-color);
      width: 30rem;
      height: calc(100vh - 9.5rem);
  }
  
  .header .navbar.active{
      right:0;
  }
  
  .header .navbar a{
      color:var(--secondary-color);
      display: block;
      margin:15px;
      padding:5px;
      font-size: 20px;
  }
  
  .header .search-form{
      width: 90%;
      right: 20px;
  }
     
/*footer*/

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
}

  